nav {
    /* background-color: #159957; */
    background: var(--bg-nav);
    padding: 16px 32px;
    font-weight: bolder;
    font-variant: small-caps;
    border: 1px solid #a3a1af;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    margin-right: 16px;
    color: var(--inactive-nav);
  }
  
  nav a.active {
    text-decoration: none;
    font-weight: bold;
    color: var(--active-nav);
  }

  .antdTable {
    background-color: var(--background);
    color: var(--text-primary);
  }
  .antdTable:hover {
    color: var(--text-primaryhover);
  }
  
  .cardClass {
      background-color: var(--background);
  }
  .ant-table-thead .ant-table-cell {
    background-color: var(--background) !important;
    color: var(--text-primary) !important;
  }